<a href="https://colab.research.google.com/github/SaiKumarMundru/NNDL/blob/main/NNDLAssign_III_449.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Mount Google Drive**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Import required libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# **Import Data**

# **This data consists of 2 columns, Y is load at a particular hour, where X is the load at its previous hour.**

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/NNDL/Assign3.xlsx')
data.head()

            X           Y
0  5551.82208  4983.17184
1  4888.39680  5072.95872
2  5196.25980  5641.29720
3  7153.17732  7849.80504
4  6329.97504  6292.87560

# **Data normalization**

In [ ]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.309179  0.093061
1   0.064412  0.121468
2   0.177996  0.301277
3   0.899988  1.000000
4   0.596273  0.507422
5   0.234645  0.169700
6   0.105763  0.027371
7   0.539855  0.470780
8   0.531976  0.481876
9   1.000000  0.860038
10  0.868645  0.577945
11  0.603692  0.257287
12  0.080228  0.027371
13  0.000000  0.000000

# **Data split to training and testing**

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

# **Initialization of required variables**

In [ ]:
m = 1
c = -1
eta = 0.001
max_iters = 100
r = 0.1

# **NAG + SGD Algorithm**

In [ ]:
m_deriv = 0
c_deriv = 0
Vm = 0
Vc = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-(m+r*Vm)*x-c-r*Vc)*x
    c_deriv = -(y-(m+r*Vm)*x-c-r*Vc)
    Vm = r*Vm - eta*m_deriv
    Vc = r*Vc - eta*c_deriv
    m = m + Vm
    c = c + Vc
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  1.2339399699404592 -0.33710150694235586

# **Model prediction on training data**

In [ ]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

# **Model prediction on testing data**

In [ ]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

# **Error metrics calculation**

In [ ]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.24054347057745393
Mean square error 0.057861161237446446
Mean absolute error 0.2096453519524495

In [ ]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.18897345095608725
Mean square error 0.03571096516625271
Mean absolute error 0.18415109159784987

# **Deployment**

In [ ]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 10
X =  10
Y =  12.002298192462236